 <div class="container">
    <%=form_with(model: @job) do |f| %>                
    <div class="row">    
        <div class="col-3 font-weight-bold"><%= f.label :title, 'Titulo', class: "control-label"  %></div>
        <div class="col-9"><%= f.text_field :title, class: "form-control" %></div>
    </div>
    <br/>
    <div class="row">
        <div class="col-3 font-weight-bold"><%= f.label :description, 'Descrição', class: "control-label" %></div>
        <div class="col-9"><%= f.text_area :description, class: "form-control" %></div>
    </div>
    <br/>
    <div class="row">
        <div class="col-3 font-weight-bold"><%= f.label :salary, 'Faixa Salarial', class: "control-label" %></div>
        <div class="col-3"><%= f.select :salary, options_for_select(Job.salaries.map {|k, v| [I18n.t("activerecord.attributes.job.salary.#{k}"), k]}, f.object.salary), {}, class:'form-control' %></div>
        <div class="col-3 font-weight-bold"><%= f.label :stage, 'Nível', class: "control-label" %></div>
        <div class="col-3"><%= f.select :stage, options_for_select(Job.stages.map {|k, v| [I18n.t("activerecord.attributes.job.stage.#{k}"), k]}, f.object.stage), {}, class:'form-control' %></div>
    </div>        
    <br/>
    <div class="row">
        <div class="col-3 font-weight-bold"><%= f.label :need, 'Requisitos Obrigatórios', class: "control-label" %></div>
        <div class="col-9"><%= f.text_area :need, class: "form-control" %></div>            
    </div>
    <br/>
    <div class="row">
        <div class="col-3 font-weight-bold"><%= f.label :expiration, 'Data Limite', class: "control-label" %></div>
        <div class="col-3"><%= f.text_field :expiration, class: "form-control" %></div>
        <div class="col-3 font-weight-bold"><%= f.label :quantity, 'Total de Vagas', class: "control-label" %></div>
        <div class="col-3"><%= f.text_field :quantity, class: "form-control" %></div>                
    </div>
    <br/>
    <% @job.errors.full_messages.each do |message| %>
        <li class="alert alert-danger"><%= message %></li>
    <%end%>  
    <br/>
    <% if @cadastro %>
        <%= f.hidden_field :company, value: current_employee.company.id %>       
    <% end %>        
    <div class="text-center">
        <p><%= f.submit 'Salvar', :class => "btn btn-success" %></p>                    
    </div>
    <% end %>            
</div>