<!-- Bootstrap -->
<div class="well text-center">    
  <br/><h2>Relação de Vagas</h2><br/>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Empresa</th>
        <th scope="col">Vaga</th>
        <th scope="col">Status</th>
        <th scope="col">Link</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <% if job.Ativo? && job.expiration >= DateTime.now%> 
          <tr>             
            <td><%= job.company.name %>        
            <td><%= job.title %></td>                  
            <td><%= job.status %></td> 
            <td><%= link_to "Ver essa vaga", job, :class => "btn btn-primary" %></td>       
          </tr>
        <% end %>
      <% end %>  
    </tbody>
  </table>
  <% if employee_signed_in? %>    
    <p><%= link_to "Cadastrar Vaga", new_job_path, :class => "btn btn-success" %></p>
  <% end %>
</div>