<!-- Bootstrap -->
<div class="well text-center">    
    <br/><h2>Visualização da Vaga</h2><br/>
</div>    
    <div class="container">
        <div class="row">
            <div class="col-3 font-weight-bold">Titulo</div>
            <div class="col-9"><%=@job.title%></div>            
        </div> 
        <br/>       
        <div class="row">
            <div class="col-3 font-weight-bold">Nível</div>
            <div class="col-3"><%=@job[:stage]%></div>
            <div class="col-3 font-weight-bold">Faixa Salarial</div>
            <div class="col-3"><%=@job[:salary]%></div>            
        </div>
        <br/>   
        <div class="row">
            <div class="col-3 font-weight-bold">Requisitos Obrigatórios</div>
            <div class="col-9"><%=@job.need%></div>
        </div>
        <br/>   
        <div class="row">
            <div class="col font-weight-bold">Data Limite</div>
            <div class="col"><%=@job.expiration%></div>
            <div class="col font-weight-bold">Total de Vagas</div>
            <div class="col"><%=@job.quantity%></div>
        </div> 
        <br/>   
        <div class="row">
            <div class="col font-weight-bold">Descrição</div>            
        </div> 
        <br/>         
        <div class="row">
            <div class="col"><%=@job.description%></div>            
        </div>
        <br/>
        <div class="text-center">
          <% if @logado %>
            <td class="col-6"><%= link_to "Editar Vaga", edit_job_path(@job), :class => "btn btn-secondary" %></td>
            <td class="col-6"><%= link_to "Desabilitar Vaga", disable_job_path(@job), method: :post, data:{ confirm: "Essa ação não poderá ser desfeita, confirma?" }, :class => "btn btn-danger" %></td>
            <br/> 
          <% end %> 
          <br/>  
          <% if current_candidate %>
            <p><%= link_to "Quero me cadastrar para essa vaga", make_offer_path(@job), method: :post, data:{ confirm: "Confirma o interesse nessa vaga?" }, :class => "btn btn-success" %></p>            
            <br/> 
          <% end %>
          <p><%=link_to "Voltar", :back, :class => "btn btn-warning" %></p>
        </div>
    </div>
    
