<h1>Visualização da Vaga</h1>
    <dt>Titulo</dt>
    <dd><%= @job.title %></dd>
    <dt>Descrição</dt>
    <dd><%= @job.description %></dd>
    <dt>Faixa Salarial</dt>
    <dd><%= @job.salary %></dd>
    <dt>Nível</dt>
    <dd><%= @job.stage %></dd>
    <dt>Requisitos Obrigatórios</dt>
    <dd><%= @job.need %></dd>
    <dt>Data Limite</dt>
    <dd><%= @job.expiration %></dd>
    <dt>Total de Vagas</dt>
    <dd><%= @job.quantity %></dd>

<div>
<% if @logado %>
  <td><%= link_to "Editar Vaga", edit_job_path(@job) %></td>
  <td><%= link_to "Desabilitar Vaga", disable_job_path(@job), method: :post, data:{ confirm: "Essa ação não poderá ser desfeita, confirma?" } %></td>
<% else %> 
  <td><%= link_to "Quero me cadastrar para essa vaga", edit_candidate_registration_path %></td>             
<% end %>
</div>