<h2>Relação de Vagas com Ofertas</h2>    
    <table>
      <tr>
        <td>Empresa</td>
        <td>Vaga</td>
        <td>Candidato</td>
        <td>Status</td>
      </tr>
      <% @offers.each do |offer| %>      
      <tr>             
        <td><%= offer.job.company.name %>        
        <td><%= offer.job.title %>   
        <td><%= offer.candidate.name %>     
        <td><%= offer.status %></td>
        <td><%= link_to "Ver essa vaga", jobcandidate_path(offer) %>         
      </tr>      
      <% end %>  
    </table>  