<h2>Dados do Candidato</h2>

    <dt>Nome Completo/Nome Social</dt>
    <dd><%=@candidate.name%></dd>
    <dt>CPF</dt>
    <dd><%=@candidate.cpf%></dd>
    <dt>E-mail</dt>
    <dd><%=@candidate.email%></dd>
    <dt>Telefone</dt>
    <dd><%=@candidate.phone%></dd>
    <dt>Biografia Resumida</dt>
    <dd><%=@candidate.bio%></dd>
