<!-- Bootstrap -->
<div class="well text-center">    
    <br/><h2>Dados da Empresa</h2><br/>
    <div class="container">
        <div class="row">    
            <%if @company.image.attached?%>      
                <div class="col text-center"><%= image_tag(@company.image, :size => "200x200")%>
            <%end%>
            <span class="col font-weight-bold"><%=@company.name%></span></div>            
        </div>        
        <div class="row">
            <div class="col font-weight-bold">CNPJ</div>
            <div class="col"><%=@company.cnpj%></div>
            <div class="col font-weight-bold">CEP</div>
            <div class="col"><%=@company.cep%></div>
        </div>
        <div class="row">
            <div class="col font-weight-bold">Logradouro</div>
            <div class="col"><%=@company.address%></div>
            <div class="col font-weight-bold">Número</div>
            <div class="col"><%=@company.address_number%></div>
        </div>
        <div class="row">
            <div class="col font-weight-bold">Complemento</div>
            <div class="col"><%=@company.address_door%></div>
            <div class="col font-weight-bold">Bairro</div>
            <div class="col"><%=@company.district%></div>
        </div>
        <div class="row">
            <div class="col font-weight-bold">Cidade</div>
            <div class="col"><%=@company.city%></div>
            <div class="col font-weight-bold">Estado</div>
            <div class="col"><%=@company.state%></div>
        </div>
        <div class="row">
            <div class="col font-weight-bold">Site</div>
            <div class="col"><%=@company.url%></div>
            <div class="col font-weight-bold">Linkedin</div>
            <div class="col"><%=@company.linkedin%></div>
        </div>
        <br/>
        <% if @admin && current_employee.company == @company %>   
            <%= link_to "Editar Empresa", edit_company_path(@company), :class => "btn btn-secondary" %>
        <% end %>
    </div>
    <br/><h3>Todas as vagas dessa empresa</h3><br/>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Nível</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Link</th>
             </tr>
        </thead>
        <tbody>
        <% @company.job.each do |job| %>
            <% if job.active? && job.expiration >= DateTime.now %> 
                <tr>
                    <td><%=job.title%></td>
                    <td><%=job.stage%></td>
                    <td><%=job.quantity%></td>
                    <td><%= link_to "Ver essa vaga", job, :class => "btn btn-primary" %></td>
                </tr>
             <% end %>
        <% end %>
        </tbody>
    </table>
    <p class="text-center"><%=link_to "Voltar", :back, :class => "btn btn-warning" %></p>
</div>