<h2>Fazendo proposta ao Candidato</h2>
<%=form_with url: sended_offer_path, method: :post do |f| %>
        <dt><%= f.label :salary_proposal, 'Proposta Salarial' %></dt>
        <dd><%= f.text_field :salary_proposal %></dd>
        <dt><%= f.label :message, 'Mensagem Personalizada' %></dt>
        <dd><%= f.text_area :message %></dd> 
        <dt><%= f.label :start_date, 'Data de Inicio' %></dt>
        <dd><%= f.text_field :start_date %></dd>        
        <%= f.submit 'Enviar Proposta' %>        
<% end %>