<div class="container p-3 my-3 border">
  <h2>Editar Candidato</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "candidates/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Esperando confirmação do: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, "Senha" %> <i>(Se você não deseja alterar, DEIXE EM BRANCO)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> de caracteres no mínimo</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmação da Senha" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(Você precisa colocar seu email atual para fazer as alterações)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div>
     <%= f.label :name, "Nome Completo/Nome Social" %><br />
     <%= f.text_field :name, autofocus: true %>
  </div>

  <div>
     <%= f.label :cpf %><br />
     <%= f.text_field :cpf, autofocus: true %>
  </div>

  <div>
     <%= f.label :phone, "Telefone" %><br />
     <%= f.text_field :phone, autofocus: true %>
  </div>

  <div>
     <%= f.label :bio, "Biografia resumida" %><br />
     <%= f.text_area :bio, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Atualizar", class:"btn btn-outline-success" %>
  </div>
<% end %>
</div>