<!DOCTYPE html>
<html>
  <head>
    <title>Balcão de Empregos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if employee_signed_in? %>
      <%= current_employee.email %>
      <%= link_to "Minha Empresa", current_employee.company %>      
      <%= link_to "Sair", destroy_employee_session_path, method: :delete  %>
    <% else %>
      <%= link_to "Entrar como Empresa", new_employee_session_path %>      
    <% end %>
    <%= link_to "Empresas", companies_path %>
    <%= link_to "Vagas", jobs_path %>    
    <!-- link_to "Entrar como Candidato", new_candidate_session_path -->
    <%= form_with url: "/search", method: :get do |f| %>
      <%= f.label :query, "Buscar por:" %>
      <%= f.text_field :query %>
      <%= f.label :item, "Em: " %>
      <%= f.select :item, ['Empresa', 'Vagas']%>
      <%= f.submit "Buscar" %>
    <% end %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
